<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="festival">

	<resultMap type="fVo" id="fResultMap">
		<result column="festivalNum" property="festivalNum" />
		<result column="festivalName" property="festivalName" />
		<result column="city" property="city" />
		<result column="summary" property="summary" />
		<result column="festivalStartDay" property="festivalStartDay" />
		<result column="festivalEndDay" property="festivalEndDay" />
		<result column="mapUrl" property="mapUrl" />
		<result column="adress" property="adress" />
		<result column="detail" property="detail" />
		<result column="homepage" property="homepage" />
		<result column="country" property="country" />
	</resultMap>
	
	<select id="selectAll" resultMap="fResultMap">
		select * from festival order by festivalNum asc
	</select>
	
	<select id="selectOne" parameterType="int" resultMap="fResultMap">
		select a.festivalNum, a.festivalName, a.city, a.summary, a.festivalStartDay, a.festivalEndDay, a.mapUrl, a.adress, a.detail, a.homepage, b.country 
		 from festival a, city_country b where a.city = b.city and festivalNum = #{num} 
	</select>
	
	<select id="selectFestivalByKeyword" parameterType="String" resultMap="fResultMap">
		select a.festivalNum, a.festivalName, a.city, a.summary, a.festivalStartDay, a.festivalEndDay, a.mapUrl, a.adress, a.detail, a.homepage, b.country 
		from festival a, city_country b where a.city = b.city and festivalName like '%'||#{keyword}||'%'  order by festivalNum asc
	</select>
	
	<select id="selectFestivalByLocation" parameterType="String" resultMap="fResultMap">
		select a.festivalNum, a.festivalName, a.city, a.summary, a.festivalStartDay, a.festivalEndDay, a.mapUrl, a.adress, a.detail, a.homepage, b.country
		from festival a, city_country b 
		where a.city = b.city and (a.city like '%'||#{location}||'%'or b.country like '%'||#{location}||'%')
		order by festivalNum asc
	</select>

	<select id="selectFestivalByTheme" parameterType="String" resultMap="fResultMap">
	select distinct a.festivalNum, a.festivalName, a.city, a.summary, a.festivalStartDay, a.festivalEndDay, a.mapUrl, a.adress, a.detail, a.homepage, d.country  
	from festival a, festival_theme b, theme c ,city_country d
	where a.festivalNum = b.festivalNum and c.themeName = #{themeName} and c.themeNum = b.themeNum and a.city = d.city
	order by festivalNum asc
	</select>
	
	
</mapper>
